<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sportsbike</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <section id="navigation">
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#products">Products</a></li>

                </ul>
            </nav>
        </div>
    </section>
    <section id="home">
        <article class="card">
            <div class="img1">
                <div class="image">
                    <img src="/img/1720718358212.jpg" alt="bike 1">
                    <p>Yamaha R1</p>
                </div>
                <p>
                    The Kawasaki Ninja 400 is a versatile and lightweight sportbike equipped with a 399cc parallel-twin
                    engine, offering an impressive balance of power and maneuverability. It features a comfortable
                    riding position, modern styling, and advanced safety features such as ABS, making it ideal for both
                    new riders and experienced enthusiasts. With its responsive handling and efficient performance, the
                    Ninja 400 excels in urban commuting and spirited weekend rides
                </p>

                <div class="price">

                    <h5>
                        price
                    </h5>
                    <p>$8588</p>
                </div>
            </div>
        </article>
    </section>
    <section id="about">
        <div class="about">

        </div>
    </section>
    <section id="product">



    </section>

    <footer>
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#product">Product</a>
    </footer>
</body>

</html>